<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!-- 真正可以产生Connection的ConnectionFactory，由对应的 JMS服务厂商提供 -->
    <bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://47.93.230.61:61616" />
    </bean>
    <!-- Spring用于管理真正的ConnectionFactory的ConnectionFactory -->
    <bean id="connectionFactory"
          class="org.springframework.jms.connection.SingleConnectionFactory">
        <!-- 目标ConnectionFactory对应真实的可以产生JMS Connection的ConnectionFactory -->
        <property name="targetConnectionFactory" ref="targetConnectionFactory" />
    </bean>
    <!-- 配置生产者 -->
    <!-- Spring提供的JMS工具类，它可以进行消息发送、接收等 -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <!-- 这个connectionFactory对应的是我们定义的Spring提供的那个ConnectionFactory对象 -->
        <property name="connectionFactory" ref="connectionFactory" />
    </bean>


    <!--**************生产者队列配置********************-->

    <!--向搜索系统中增加一条数据 -->
    <bean id="addTaskInfo" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="addTaskInfo"/>
    </bean>

    <!--更新任务信息 -->
    <bean id="updateTaskInfo" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="updateTaskInfo"/>
    </bean>

<!--    创建订单-->
    <bean id="createOrder" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="createOrder" />
    </bean>




    <!--测试 -->
    <bean id="mqTest" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="mqTest"/>
    </bean>

    <!--这个是队列目的地，点对点的 提供订单金额-->
    <bean id="orderPay" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg>
            <value>orderPay</value>
        </constructor-arg>
    </bean>
    <!--资金流出-->
    <bean id="orderOut" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg>
            <value>orderOut</value>
        </constructor-arg>
    </bean>
</beans>
