<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <!-- 消费者 应用信息 -->
    <dubbo:application name="xsl"/>
    <!-- 注册中心服务地址 -->
    <dubbo:registry protocol="zookeeper" address="47.93.230.61:2181"/>
    <!--<dubbo:reference id="searchService" interface="com.xsl.search.export.SearchService" />-->

    <!--<bean id="taskInfoResource" class="resourceImpl.TaskInfoResourceImpl"/>-->
    <!--<dubbo:reference interface="resource.TaskInfoResource" ref="taskInfoResource" timeout="600000"/>-->

    <!--<bean id="taskOperateResource" class="resourceImpl.TaskOperateResourceImpl"/>-->
    <!--<dubbo:reference interface="resource.TaskOperateResource" ref="taskOperateResource" timeout="600000"/>-->



</beans>