<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.XslDoneTaskMasterMapper">
    <select id="selectByuserId" parameterType="java.lang.Integer" resultType="pojo.XslWaitTask">
      SELECT
	   xsl_user.`name`,
	    xsl_task_category.`name` 'task_name',
	    xsl_task.descr,
	    xsl_task.money,
	    xsl_task.createDate,
	    xsl_task.deadline,
	    xsl_file.url
      FROM
	    xsl_user,
	    xsl_task,
	    xsl_task_category,
	    xsl_file
      WHERE
	    xsl_user.id = #{userId,jdbcType=INTEGER}
      AND
        xsl_task.sendId = xsl_user.id
      AND
        xsl_task_category.id = xsl_task.cid
      AND
        xsl_file.userId=xsl_user.id
      AND
        xsl_task.state=3
    </select>
</mapper>