<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.XslMajorMessageMapper">
    <resultMap id="BaseResultMap" type="pojo.XslMajor">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="majorName" property="majorname" jdbcType="VARCHAR"/>
        <result column="collegeId" property="collegeid" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectByCollegeId" resultType="String" parameterType="java.lang.Integer">
        select
           majorName
        from
           xsl_major
        where
           collegeId=#{id}
    </select>

    <select id="selectMajorList" resultType="pojo.XslMajor" parameterType="java.lang.Integer">
        select
           id, majorName
        from
           xsl_major
        where
           collegeId=#{id}
    </select>


</mapper>