<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.XslTaskClassMapper">

    <select id="selectByXslTagCategory" resultType="java.lang.String" parameterType="pojo.XslTag">
         select
           name
        from
           xsl_tag
    </select>
    <select id="selectByTaskName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
           id
        from
           xsl_task_category
        where
           name=#{name}
    </select>
</mapper>