<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.XslWaitTaskMapper">
    <select id="selectByuserId" parameterType="java.lang.Integer" resultType="pojo.XslWaitTask">
        SELECT
        xsl_user.`name`,
        xsl_task_category.`name` 'task_name',
        xsl_task.descr,
        xsl_task.money,
        xsl_task.createDate,
        xsl_task.deadline,
        xsl_file.url
        FROM
        xsl_user,
        xsl_task,
        xsl_task_category,
        xsl_file
        WHERE
        xsl_user.id = #{userId}
        AND xsl_task.sendId = xsl_user.id
        AND xsl_user.id=xsl_file.userId
        AND xsl_task_category.id = xsl_task.cid
        AND xsl_task.state !=3
        AND xsl_task.state !=-1
        AND xsl_task.state !=-2
    </select>

    <select id="selectBysendId" parameterType="java.lang.Integer" resultType="pojo.Xsltaskmainpage">
        SELECT
	     xsl_user. NAME,
         xsl_task.taskId,
          xsl_task.deadline,
 xsl_task.descr,
 xsl_task.money,
 xsl_task.state,
 xsl_task_category.`name`,
xsl_file.url
FROM
xsl_user,
xsl_task,
xsl_task_category,
xsl_file
WHERE
xsl_task.sendId=#{userId}
AND
xsl_user.id=xsl_task.sendId
AND
xsl_file.userId=xsl_user.id
AND
xsl_task_category.id=xsl_task.cid
    </select>
    <select id="selectByaccectId" parameterType="java.lang.Integer" resultType="pojo.Xsltaskmainpage">
     SELECT
	xsl_user. NAME,
 xsl_task.taskId,
 xsl_task.deadline,
 xsl_task.descr,
 xsl_task.money,
 xsl_task.state,
 xsl_task_category.`name`,
xsl_file.url
FROM
xsl_historyh,
xsl_hunter,
xsl_user,
xsl_task,
xsl_task_category,
xsl_file
WHERE
xsl_hunter.userId=#{userId}
AND xsl_hunter.userId=xsl_historyh.hunterId
AND
xsl_user.id=xsl_task.sendId
AND
xsl_file.userId=xsl_task.sendId
AND
xsl_historyh.taskId=xsl_task.taskId
AND
xsl_task_category.id=xsl_task.cid
    </select>

</mapper>