<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.XslCollegeMessageMapper">
    <resultMap id="BaseResultMap" type="pojo.XslCollege">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="collegeName" property="collegename" jdbcType="VARCHAR"/>
        <result column="schoolId" property="schoolid" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectBySchoolId" resultType="String" parameterType="java.lang.Integer">
        select
           collegeName
        from
           xsl_college
        where
           schoolId=#{id}
    </select>
    <select id="selectCollegeList" resultType="pojo.XslCollege" parameterType="java.lang.Integer">
        select
           id, collegeName
        from
           xsl_college
        where
           schoolId=#{id}
    </select>
    <select id="selectBycollegeName" resultType="java.lang.Integer" parameterType="map">
        select
           id
        from xsl_college
        where
           collegeName=#{collegeName}
           and
           schoolId=#{schoolId}
    </select>

</mapper>