<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.XslFindCollectTaskMapper">
    <select id="selectByuserId" parameterType="java.lang.Integer" resultType="pojo.XslFindCollectTask">
        SELECT
          xsl_user.`name`,xsl_task.createDate,xsl_task.deadline,xsl_task.descr,xsl_task.money,xsl_task.number,xsl_task.state
        FROM
          xsl_user,xsl_task
        WHERE
          xsl_task.id=ANY(
        SELECT
          xsl_collectt.taskId
        FROM
          xsl_collectt
        WHERE
          xsl_collectt.userId=#{userId,jdbcType=INTEGER}))
        AND
          xsl_user.id=xsl_task.sendId
    </select>
</mapper>