<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.XslTaskTagMapper" >
  <resultMap id="BaseResultMap" type="pojo.XslTaskTag" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="taskId" property="taskid" jdbcType="VARCHAR" />
    <result column="tagId" property="tagid" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="DATE" />
    <result column="state" property="state" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, taskId, tagId, createDate, state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="example.XslTaskTagExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xsl_task_tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xsl_task_tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xsl_task_tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="example.XslTaskTagExample" >
    delete from xsl_task_tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.XslTaskTag" >
    insert into xsl_task_tag (id, taskId, tagId, 
      createDate, state)
    values (#{id,jdbcType=INTEGER}, #{taskid,jdbcType=VARCHAR}, #{tagid,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=DATE}, #{state,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="pojo.XslTaskTag" >
    insert into xsl_task_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskid != null" >
        taskId,
      </if>
      <if test="tagid != null" >
        tagId,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskid != null" >
        #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="tagid != null" >
        #{tagid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=DATE},
      </if>
      <if test="state != null" >
        #{state,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="example.XslTaskTagExample" resultType="java.lang.Integer" >
    select count(*) from xsl_task_tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update xsl_task_tag
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.taskid != null" >
        taskId = #{record.taskid,jdbcType=VARCHAR},
      </if>
      <if test="record.tagid != null" >
        tagId = #{record.tagid,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=DATE},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update xsl_task_tag
    set id = #{record.id,jdbcType=INTEGER},
      taskId = #{record.taskid,jdbcType=VARCHAR},
      tagId = #{record.tagid,jdbcType=VARCHAR},
      createDate = #{record.createdate,jdbcType=DATE},
      state = #{record.state,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.XslTaskTag" >
    update xsl_task_tag
    <set >
      <if test="taskid != null" >
        taskId = #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="tagid != null" >
        tagId = #{tagid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=DATE},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.XslTaskTag" >
    update xsl_task_tag
    set taskId = #{taskid,jdbcType=VARCHAR},
      tagId = #{tagid,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=DATE},
      state = #{state,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 批量插入 -->
  <insert id="insertSelectiveBatch" parameterType="java.util.List">
    insert into xsl_task_tag
    (taskId, tagId)
    values
      <foreach collection="list" item="item" index="index" separator=",">
        (
          #{item.taskid,jdbcType=VARCHAR},
          #{item.tagid,jdbcType=VARCHAR}
        )
      </foreach>
  </insert>

  <select id="getTagsByTaskId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from xsl_task_tag
    where taskId = #{taskId,jdbcType=INTEGER}
  </select>

  <select id="getTasksByTagId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from xsl_task_tag
    where tagId = #{taskTag,jdbcType=INTEGER}
  </select>

  <select id="selectTagIdByExample" resultType="string" parameterType="example.XslTaskTagExample" >
    select
      tagId
    from xsl_task_tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>