<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.XslTaskMapper" >
  <resultMap id="BaseResultMap" type="pojo.XslTask" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="taskId" property="taskid" jdbcType="VARCHAR" />
    <result column="descr" property="descr" jdbcType="VARCHAR" />
    <result column="sendId" property="sendid" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="createDate" property="createdate" jdbcType="DATE" />
    <result column="updateDate" property="updatedate" jdbcType="DATE" />
    <result column="deadline" property="deadline" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cid, taskId, descr, sendId, money, state, number, createDate, updateDate, deadline
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="example.XslTaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xsl_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xsl_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xsl_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="example.XslTaskExample" >
    delete from xsl_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.XslTask" >
    insert into xsl_task (id, cid, taskId, 
      descr, sendId, money, 
      state, number, createDate, 
      updateDate, deadline)
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{taskid,jdbcType=VARCHAR}, 
      #{descr,jdbcType=VARCHAR}, #{sendid,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, 
      #{state,jdbcType=TINYINT}, #{number,jdbcType=INTEGER}, #{createdate,jdbcType=DATE}, 
      #{updatedate,jdbcType=DATE}, #{deadline,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="pojo.XslTask" >
    insert into xsl_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="taskid != null" >
        taskId,
      </if>
      <if test="descr != null" >
        descr,
      </if>
      <if test="sendid != null" >
        sendId,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="updatedate != null" >
        updateDate,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="taskid != null" >
        #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=VARCHAR},
      </if>
      <if test="sendid != null" >
        #{sendid,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=DATE},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=DATE},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="example.XslTaskExample" resultType="java.lang.Integer" >
    select count(*) from xsl_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update xsl_task
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.taskid != null" >
        taskId = #{record.taskid,jdbcType=VARCHAR},
      </if>
      <if test="record.descr != null" >
        descr = #{record.descr,jdbcType=VARCHAR},
      </if>
      <if test="record.sendid != null" >
        sendId = #{record.sendid,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=DATE},
      </if>
      <if test="record.updatedate != null" >
        updateDate = #{record.updatedate,jdbcType=DATE},
      </if>
      <if test="record.deadline != null" >
        deadline = #{record.deadline,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update xsl_task
    set id = #{record.id,jdbcType=INTEGER},
      cid = #{record.cid,jdbcType=INTEGER},
      taskId = #{record.taskid,jdbcType=VARCHAR},
      descr = #{record.descr,jdbcType=VARCHAR},
      sendId = #{record.sendid,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=DECIMAL},
      state = #{record.state,jdbcType=TINYINT},
      number = #{record.number,jdbcType=INTEGER},
      createDate = #{record.createdate,jdbcType=DATE},
      updateDate = #{record.updatedate,jdbcType=DATE},
      deadline = #{record.deadline,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.XslTask" >
    update xsl_task
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="taskid != null" >
        taskId = #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="descr != null" >
        descr = #{descr,jdbcType=VARCHAR},
      </if>
      <if test="sendid != null" >
        sendId = #{sendid,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=DATE},
      </if>
      <if test="updatedate != null" >
        updateDate = #{updatedate,jdbcType=DATE},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.XslTask" >
    update xsl_task
    set cid = #{cid,jdbcType=INTEGER},
      taskId = #{taskid,jdbcType=VARCHAR},
      descr = #{descr,jdbcType=VARCHAR},
      sendId = #{sendid,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      state = #{state,jdbcType=TINYINT},
      number = #{number,jdbcType=INTEGER},
      createDate = #{createdate,jdbcType=DATE},
      updateDate = #{updatedate,jdbcType=DATE},
      deadline = #{deadline,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>